
/* Your CSS Code here. */
body {
  margin: 0;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.player {
  max-width: 750px;
  width: 100%;
  border: 1px solid #444;
  position: relative;
  background: black;
}

.viewer {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #333;
}

.player__button, .player__slider {
  margin: 0 5px;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.player__slider {
  width: 100px;
}

.progress {
  position: relative;
  height: 5px;
  background: #555;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
}

.progress__filled {
  width: 0%;
  background: #f00;
  height: 100%;
}
